.Text {
  font-weight: normal;

  &--large {
    font-size: $px-font-l;
  }

  &--light {
    font-weight: 300;
  }

  &--black {
    color: $black;
  }

  &__link {
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      border: 1px solid $blue;
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 200ms, transform 200ms;
    }

    &:hover,
    &:focus {
      &:after {
        opacity: 1;
        transform: translateY(-6px);
      }
    }
  }
}

a.Text--black {
  transition: color 200ms;

  &:hover,
  &:focus {
    color: $blue;
  }
}
