.BlogPost {
  $shadow: rgb(15, 41, 48);
  $ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

  box-shadow: rgba($shadow, 0.05) 0 20px 40px 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.8s $ease-out-cubic, box-shadow 0.8s $ease-out-cubic, opacity 0.4s $ease-out-cubic;

  @include hover {
    transform: translateY(-0.5%);
    box-shadow: rgba($shadow, 0.1) 0 30px 50px 0;
  }


  &:active {
    transform: translateY(0%) !important;
    box-shadow: rgba($shadow, 0.05) 0 20px 40px 0 !important;
    opacity: 0.5;
  }

  &__title {
    font-size: 1.6em;
  }

  &__claps {
    vertical-align: middle;
    color: $grey;

    &-number {
      margin-left: 4px;
      top: -2px;
      position: relative;
    }

    svg {
      fill: $grey;
    }
  }

  &__header,
  &__footer {
    padding-top: 20px;
  }

  &__header {
    padding-bottom: 20px;
  }

  &__header,
  &__description {
    color: $black;
  }

  &--content {
    padding-left: 32px;
    padding-right: 32px;
  }

  &__footer {
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }
}
