/* -----
Base
----- */
@import 'base/_normalize';
@import 'base/_vars';
@import 'base/_common';
@import 'base/_medias';
@import 'base/_typography';
@import 'base/_images';
@import 'base/_layout';
@import 'base/_margins';
@import 'base/_mixins';
@import '../components/Icon/style.scss';
@import '../components/Text/style.scss';
@import '../components/Title/style.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow-x: hidden;
}

@import '../components/Nav/style.scss';
@import '../components/Header/style.scss';
@import '../components/Socials/style.scss';
@import '../components/Footer/style.scss';
@import '../components/BlockBlogPosts/style.scss';
@import '../components/BlogPost/style.scss';
