// ------------------------------------------------------------
// IMAGES
// ------------------------------------------------------------

/* -----
Global
----- */
* {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* -----
Images
----- */
img {
  max-width: 100%;
}
