// ------------------------------------------------------------
// MEDIAS
// ------------------------------------------------------------

$media-query: 'only screen and';

// Breakpoints
$breakpoint-desktop: 800px;
$breakpoint-desktop-l: 1000px;

// Queries stringmais
$mobile: '#{$media-query} (max-width: #{$breakpoint-desktop})';
$desktop: '#{$media-query} (min-width: #{$breakpoint-desktop + 1})';
$desktop-l: '#{$media-query} (min-width: #{$breakpoint-desktop-l + 1})';

// Mixins media queries
@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}
@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}
@mixin desktop-l {
  @media #{$desktop-l} {
    @content;
  }
}
