// ------------------------------------------------------------
// VARIABLES
// ------------------------------------------------------------

// -------------------------
// Colors
// -------------------------
$black: #000000;
$white: #ffffff;
$blue: #445ae3;
$grey: #9b9b9b;

$text-link: $blue;

//
// Nav
//
$nav-height: 80px;

// -------------------------
// Typography
// -------------------------

/* -----
Font size
----- */
$px-base-s: 0.85em;
$px-font-m: 1em;
$px-font-l: 1.5em;
$px-font-xl: 1.8em;

$px-base: $px-font-m;
