.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;

  &__up {
    font-size: $px-font-xl;
    color: $black;
    cursor: pointer;
    transition: transform 100ms, color 100ms;
    position: relative;

    &:hover,
    &:focus {
      transform: translateY(-4px);
      color: $blue;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include mobile {
    &__right {
      width: 100%;
    }

    .Socials {
      width: 100%;
      margin: 20px 0;
    }
  }
}
