.Socials {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 14px;
    }

    a {
      fill: $black;
      color: black;
      position: relative;
      border-radius: 50%;
      background: $white;
      border: 1px solid $black;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.8;

      transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;

      &:hover,
      &:focus {
        background: $blue;
        border-color: $blue;

        .Socials__items-icon {
          fill: $white;
        }
      }
    }
  }
}
