@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #445ae3;
    --secondary: #9b9b9b;
  }
}

.link {
  color: var(--primary);
  transition: color 0.1s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
